<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fbty.gdsms"
      android:versionCode="1"
      android:versionName="1.0">


    <application  android:label="@string/app_name" android:theme="@android:style/Theme.Translucent" 
    			 android:icon="@drawable/icon"
		         android:name="com.fbty.base.activity.GobalApplication">
        <activity android:name=".activity.LoginActivity"
                  android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="landscape"/>
		<activity android:name=".activity.UserActivity"/> 
		<activity android:name="activity.DownMessageTabActivity" android:screenOrientation="landscape"/>
		<activity android:name=".activity.MsgReleaseTabActivity" android:screenOrientation="landscape"/> 
		<activity android:name=".activity.SendMsgActivity"/> 
		<activity android:name=".activity.UplinkMessageActivity"/> 
		<activity android:name=".activity.UserConditionActivity"/> 
		<activity android:name=".activity.MyLoadActivity"
	              android:theme="@android:style/Theme.Dialog" 
		/> 
		
		<activity android:name=".activity.DownMessageConditionActivity"/> 
		<activity android:name=".activity.DownMessageListActivity"/> 
		<activity android:name=".activity.DownMessageTabActivity" android:screenOrientation="landscape"/> 
		<activity android:name=".activity.DownMessageDetailsActivity"/>
		
		<activity android:name=".activity.UpMessageConditionActivity"/> 
		<activity android:name=".activity.UpMessageListActivity"/> 
		<activity android:name=".activity.UpMessageTabActivity" android:screenOrientation="landscape"/>
		
		
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>